<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <div class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6">     
        <form action="/auth/login" method="post">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                </div>
            </div>

            <button type="submit" class="btn btn-info">Loggin</button>
        </form>
        </div>
    </div>
    </div>

<%- include('../includes/end.ejs') %>